* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #333333;
}

.sidenav {
  background-color: #333333;
}

.sidenav-link li:hover {
  border-left: 3px solid skyblue;
}

.sidenav-link li a.active {
  border-left: 3px solid skyblue;
}

.info_image {
  border-radius: 50%;
}

.card-description li {
  display: flex;
}

.card-skill {
  display: flex;
}

.html-skill,
.css-skill,
.js-skill,
.backend-skill,
.other-skill {
  width: 150px;
  max-height: 100px;
  min-height: 100px;
}

.scrollspy {
  position: relative;
  min-height: 50vh;
}
